
*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:honeydew;
}
nav{

    background: linear-gradient(90deg, hsla(238, 100%, 71%, 1) 0%, hsla(295, 100%, 84%, 1) 100%);
}

#banner{
    width:100%
}

#quiz_button{
    margin-left: 80%;
}

#musicmap{
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
    
}

#musicimage{
    width:50%;
    margin-left:25%;
    height:fit-content;
}